plano-mais/n8n/workflows/WF5-campanhas.json
{
  "name": "WF5 — Campanhas Manuais (Gestor)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf5-campanha-iniciar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-campanha",
      "name": "Webhook — Iniciar Campanha",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "wf5-campanha-iniciar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM campanhas WHERE id = $1 AND status = 'agendada'",
        "additionalFields": {
          "queryParams": "={{ [$json.campanhaId] }}"
        }
      },
      "id": "buscar-campanha",
      "name": "Buscar Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.* FROM leads l WHERE l.status NOT IN ('pago','cancelado') AND l.ativo = true AND ($1 = 'todos' OR l.fase = ANY(string_to_array($1, ',')))",
        "additionalFields": {
          "queryParams": "={{ [$json.filtro_fases || 'todos'] }}"
        }
      },
      "id": "buscar-leads-segmento",
      "name": "Buscar Leads do Segmento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "campanhas",
        "columns": "status, iniciada_em, total_destinatarios",
        "additionalFields": {
          "whereClause": "id = '{{ $('Buscar Campanha').first().json.id }}'"
        }
      },
      "id": "marcar-em-execucao",
      "name": "Marcar Campanha — Em Execução",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar lote de envios com rate limiting (max 30/min)\nconst campanha = $('Buscar Campanha').first().json;\nconst leads = $input.all().map(i => i.json);\n\nconst envios = [];\nlet delayMs = 0;\nconst delayPorEnvio = 2000; // 2 segundos entre envios (30/min)\n\nfor (const lead of leads) {\n  const nome = lead.nome.split(' ')[0];\n  let mensagem = campanha.mensagem_template || '';\n  \n  // Substituir variáveis no template\n  mensagem = mensagem\n    .replace('{{nome}}', nome)\n    .replace('{{valor}}', new Intl.NumberFormat('pt-BR', {style:'currency',currency:'BRL'}).format(lead.valor_divida))\n    .replace('{{dias}}', lead.dias_atraso)\n    .replace('{{link}}', `https://app.planomais.com.br/checkout/${lead.id}`);\n  \n  envios.push({\n    json: {\n      lead_id: lead.id,\n      campanha_id: campanha.id,\n      telefone: lead.telefone,\n      email: lead.email,\n      mensagem,\n      canal: campanha.canal || 'whatsapp',\n      delay_ms: delayMs,\n    }\n  });\n  delayMs += delayPorEnvio;\n}\n\nreturn envios;",
        "mode": "runOnceForAllItems"
      },
      "id": "preparar-lote",
      "name": "Preparar Lote com Rate Limiting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_ms }}",
        "unit": "milliseconds"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limiting — Aguardar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sua-instancia.n8n.cloud/webhook/wf2-disparo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead", "value": "={{ $json }}" },
            { "name": "campanhaId", "value": "={{ $json.campanha_id }}" }
          ]
        },
        "options": {}
      },
      "id": "disparar-envio",
      "name": "Disparar Envio — WF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "campanha_envios",
        "columns": "campanha_id, lead_id, status, enviado_em",
        "additionalFields": {}
      },
      "id": "registrar-envio-campanha",
      "name": "Registrar Envio da Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { started: true, campanhaId: $('Buscar Campanha').first().json.id } }}"
      },
      "id": "resposta-ok",
      "name": "Resposta — Campanha Iniciada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [420, 480]
    }
  ],
  "connections": {
    "Webhook — Iniciar Campanha": {
      "main": [[{ "node": "Buscar Campanha", "type": "main", "index": 0 }]]
    },
    "Buscar Campanha": {
      "main": [[{ "node": "Buscar Leads do Segmento", "type": "main", "index": 0 }]]
    },
    "Buscar Leads do Segmento": {
      "main": [[{ "node": "Marcar Campanha — Em Execução", "type": "main", "index": 0 }]]
    },
    "Marcar Campanha — Em Execução": {
      "main": [[{ "node": "Preparar Lote com Rate Limiting", "type": "main", "index": 0 }], [{ "node": "Resposta — Campanha Iniciada", "type": "main", "index": 0 }]]
    },
    "Preparar Lote com Rate Limiting": {
      "main": [[{ "node": "Rate Limiting — Aguardar", "type": "main", "index": 0 }]]
    },
    "Rate Limiting — Aguardar": {
      "main": [[{ "node": "Disparar Envio — WF2", "type": "main", "index": 0 }]]
    },
    "Disparar Envio — WF2": {
      "main": [[{ "node": "Registrar Envio da Campanha", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "last",
    "saveDataErrorExecution": "all"
  },
  "tags": ["plano-mais", "campanhas"]
}
