plano-mais/n8n/workflows/WF5-campanhas.json
{
  "name": "WF5 — Campanhas Manuais (Gestor)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf5-campanha-iniciar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-campanha",
      "name": "Webhook — Iniciar Campanha",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "wf5-campanha-iniciar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.*, t.conteudo as mensagem_template, t.variaveis FROM campanhas c JOIN templates_mensagem t ON t.id = c.template_id WHERE c.id = $1::uuid AND c.status IN ('agendada', 'rascunho')",
        "additionalFields": {
          "queryParams": "={{ [$json.campanhaId] }}"
        }
      },
      "id": "buscar-campanha",
      "name": "Buscar Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.* FROM leads l WHERE l.status NOT IN ('pago','cancelado','arquivado') AND (\n  $1 = 'todos'\n  OR l.fase_cobranca::text = ANY(string_to_array($1, ','))\n)",
        "additionalFields": {
          "queryParams": "={{ [$json.segmento_leads?.fases ? $json.segmento_leads.fases.join(',') : 'todos'] }}"
        }
      },
      "id": "buscar-leads-segmento",
      "name": "Buscar Leads do Segmento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campanhas SET status = 'em_execucao', iniciada_em = NOW(), total_leads = $2 WHERE id = $1::uuid",
        "additionalFields": {
          "queryParams": "={{ [$('Buscar Campanha').first().json.id, $input.all().length] }}"
        }
      },
      "id": "marcar-em-execucao",
      "name": "Marcar Campanha — Em Execução",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar lote de envios com rate limiting (max 30/min)\nconst campanha = $('Buscar Campanha').first().json;\nconst leads = $input.all().map(i => i.json);\n\nconst envios = [];\nlet delayMs = 0;\nconst delayPorEnvio = 2000; // 2 segundos entre envios (30/min)\n\nfor (const lead of leads) {\n  const nome = lead.nome.split(' ')[0];\n  let mensagem = campanha.mensagem_template || '';\n  \n  // Substituir variáveis no template\n  mensagem = mensagem\n    .replace(/\\{\\{nome\\}\\}/g, nome)\n    .replace(/\\{\\{valor\\}\\}/g, new Intl.NumberFormat('pt-BR', {style:'currency',currency:'BRL'}).format(lead.valor_em_aberto || 0))\n    .replace(/\\{\\{dias\\}\\}/g, lead.dias_atraso)\n    .replace(/\\{\\{link\\}\\}/g, `${$vars.APP_URL || 'https://app.planomais.com.br'}/checkout`);\n  \n  envios.push({\n    json: {\n      lead_id: lead.id,\n      campanha_id: campanha.id,\n      id: lead.id,\n      telefone: lead.telefone,\n      email: lead.email,\n      nome: lead.nome,\n      fase_cobranca: lead.fase_cobranca,\n      valor_em_aberto: lead.valor_em_aberto,\n      dias_atraso: lead.dias_atraso,\n      mensagem,\n      canal: campanha.canal || 'whatsapp',\n      delay_ms: delayMs,\n    }\n  });\n  delayMs += delayPorEnvio;\n}\n\nreturn envios;",
        "mode": "runOnceForAllItems"
      },
      "id": "preparar-lote",
      "name": "Preparar Lote com Rate Limiting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_ms }}",
        "unit": "milliseconds"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limiting — Aguardar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.N8N_INSTANCE_URL }}/webhook/wf2-disparo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "lead", "value": "={{ $json }}" },
            { "name": "campanhaId", "value": "={{ $json.campanha_id }}" }
          ]
        },
        "options": {}
      },
      "id": "disparar-envio",
      "name": "Disparar Envio — WF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO resultados_campanha (campanha_id, lead_id, mensagem_enviada, enviado_em, status)\nVALUES ($1::uuid, $2::uuid, $3, NOW(), 'enviado')\nON CONFLICT (campanha_id, lead_id) DO UPDATE SET status = 'enviado', enviado_em = NOW()",
        "additionalFields": {
          "queryParams": "={{ [$json.campanha_id, $json.lead_id, $json.mensagem] }}"
        }
      },
      "id": "registrar-envio-campanha",
      "name": "Registrar Envio da Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pg",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { started: true, campanhaId: $('Buscar Campanha').first().json.id } }}"
      },
      "id": "resposta-ok",
      "name": "Resposta — Campanha Iniciada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [420, 480]
    }
  ],
  "connections": {
    "Webhook — Iniciar Campanha": {
      "main": [[{ "node": "Buscar Campanha", "type": "main", "index": 0 }]]
    },
    "Buscar Campanha": {
      "main": [[{ "node": "Buscar Leads do Segmento", "type": "main", "index": 0 }]]
    },
    "Buscar Leads do Segmento": {
      "main": [[{ "node": "Marcar Campanha — Em Execução", "type": "main", "index": 0 }]]
    },
    "Marcar Campanha — Em Execução": {
      "main": [
        [{ "node": "Preparar Lote com Rate Limiting", "type": "main", "index": 0 }],
        [{ "node": "Resposta — Campanha Iniciada", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Lote com Rate Limiting": {
      "main": [[{ "node": "Rate Limiting — Aguardar", "type": "main", "index": 0 }]]
    },
    "Rate Limiting — Aguardar": {
      "main": [[{ "node": "Disparar Envio — WF2", "type": "main", "index": 0 }]]
    },
    "Disparar Envio — WF2": {
      "main": [[{ "node": "Registrar Envio da Campanha", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "last",
    "saveDataErrorExecution": "all"
  },
  "tags": ["plano-mais", "campanhas"]
}
